.PanelDefault {
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    color: #706f6f;
    margin-bottom: 50px;
    &-title {
        font-size: 30px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > button {
            cursor: pointer;
            float: right;
            padding: 0;
            border: none;
            background: none;
            font-size: 20px;
            color: #706f6f;        
            &:focus {
                outline: 0;
            }
        }
        [class^="icon-"] {
            display: block;
            transition: all 0.5s;
        }
    }
    &-body {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #f7931d;
    }
    &-active {
        [class^="icon-"] {
            transform: rotate(180deg);
        }
    }
}