.ContractSummary {
    font-weight: bold;
    &-item {
        label {
            margin-bottom: 0;
            color: #f7931d;
        }
        & + .ContractSummary-item {
            margin-top: 30px;
        }
    }
}