.Header {
    background: #ffffff;    
    color: #000000;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-info {
            display: flex;
            align-items: stretch;
            & > div {
                &:nth-child(2) {
                    margin-left: 40px;
                }
                &:nth-child(3) {
                    margin-left: 30px;
                }
            }
        }
    }
}
