/*
 * Icons
 **/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?tf2j25#iefix') format('embedded-opentype'),
         url('fonts/icomoon.ttf?tf2j25') format('truetype'),
         url('fonts/icomoon.woff?tf2j25') format('woff'),
         url('fonts/icomoon.svg?tf2j25#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before {
    content: "\e90f";
}

.icon-headset:before {
    content: "\e910";
}

.icon-marker:before {
    content: "\e911";
}

.icon-phone:before {
    content: "\e912";
}

.icon-logo:before {
    content: "\e900";
}

.icon-clock:before {
    content: "\e901";
}

.icon-arrow-up:before {
    content: "\e902";
}

.icon-arrow-down:before {
    content: "\e913";
}

.icon-notification:before {
    content: "\e903";
}

.icon-calendar:before {
    content: "\e904";
}

.icon-doc:before {
    content: "\e905";
}

.icon-search:before {
    content: "\e906";
}

.icon-display:before {
    content: "\e907";
}

.icon-hammer:before {
    content: "\e908";
}

.icon-opme:before {
    content: "\e909";
}

.icon-money:before {
    content: "\e90a";
}

.icon-key:before {
    content: "\e90b";
}

.icon-report:before {
    content: "\e90c";
}

.icon-folder:before {
    content: "\e90d";
}

.icon-update:before {
    content: "\e90e";
}