.Header {
    background: #ffffff;    
    color: #000000;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-info {
            display: flex;
            align-items: stretch;
        }
    }
}
