.Menu {
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    background-color: #ccc;
    & > li {
        & > a {
            display: flex;
            align-items: center;
            color: #706f6f;
            padding: 10px 15px;            
            font-size: 13px;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
            & > [class^="icon-"] {
                font-size: 28px;
                margin-right: 13px;
            }
        }
        & ul {
            padding: 3px 0 6px;
            background-color: #dddddd;
            & > li {
                padding: 5px 15px;
                & > a {
                    font-size: 13px;
                    color: #4a4a4a;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
