.Sidebar {
    flex-basis: 280px;
    flex-shrink: 0;
    padding: 15px 0;
    margin-bottom: 0;
    background-color: #cccccc;
    margin-left: -15px;
    & > li {        
        & > a {
            display: flex;
            align-items: center;
            color: #706f6f;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
            & > [class^="icon-"] {
                font-size: 28px;
                margin-right: 13px;
            }
        }
        & ul {
            padding: 5px 0;
            background-color: #dddddd;
            & > li {
                padding: 0 38px 0 24px;
                & > a {                    
                    font-size: 13px;                
                    color: #4a4a4a;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}