/*
 * Modules
 **/

@import '~bootstrap/dist/css/bootstrap.css';

/*
 * Code
 **/

body {
    background-color: #eeeeee !important;
    font-family: 'Calibri', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

figure {
    margin: 0;
}

/*
 ** Vendor
 */

/* ReduxForm - Field */
.Field {
    padding: 0 10px;
    border-radius: 5px;
}